<app-header [hidden]="!showTemplate"></app-header>
<app-menu [hidden]="!showTemplate"></app-menu>

<div [ngClass]="showContentWrapper()">

  <section class="content-header" [hidden]="!showTemplate">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">Página inicial</li>
    </ol>
  </section>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

</div>

<app-footer [hidden]="!showTemplate"></app-footer>

