<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastro de Questões</h3>
        </div>
        <form [formGroup]="formulario" (ngSubmit)="salvar()">
          <div class="box-body">
            <div class="alert alert-{{alert}}" role="alert" *ngIf="msgCadastro">
              <strong>{{msgCadastro}}</strong>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label>Disciplina</label>
                <select class="form-control select2" formControlName="disciplina" [compareWith]="compararSelect"
                  (change)="findAssuntosByDisciplina()">
                  <option *ngFor="let item of disciplinas" [ngValue]="item">{{ item.nome }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Assunto</label>
                <select class="form-control" formControlName="assunto" [compareWith]="compararSelect"
                  (change)="findTopicosByAssunto()">
                  <option *ngFor="let item of assuntos" [ngValue]="item">{{ item.nome }}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Tópico</label>
                <select class="form-control" formControlName="topico" [compareWith]="compararSelect">
                  <option *ngFor="let item of topicos" [ngValue]="item">{{ item.nome }}</option>
                </select>
              </div>
            </div>

            <div class="nav-tabs-custom" >
              <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab_questao" data-toggle="tab">Questão</a></li>
                <li><a href="#tab_comentario" data-toggle="tab">Comentário</a></li>
                <li><a href="#tab_resumo" data-toggle="tab">Resumo</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_questao">
                  <div class="box" style="height: 300px; overflow: auto;">
                    <div class="form-group">
                      <app-input label="Questao" msgErro="mínimo de 3 e máximo de 1000 letras">
                        <textarea rows="5" class="form-control" id="nome" (keypress)="contarCaracteresQuestao()"
                        formControlName="questao" placeholder="Insira uma questão..." style="font-weight: bold;"></textarea>
                      </app-input>
                      <span>Quantidade de caracteres: {{contadorQuestao}} de {{contadorQuestaoRestam}}</span>
                    </div>
                    <div class="form-inline">
                      <div class="radio">
                        <label>
                          <input type="radio" formControlName="gabarito" id="radio1" value="certo">
                          Certo
                        </label>
                      </div>
                      &nbsp;&nbsp;
                      <div class="radio">
                        <label>
                          <input type="radio" formControlName="gabarito" id="radio2" value="errado">
                          Errado
                        </label>
                      </div>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="revisao"
                           formControlName="revisao">&nbsp;
                      <label class="form-check-label" for="revisao">incluir na revisão rápida?</label>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tab_comentario">
                  <div class="box" style="height: 300px; overflow: auto;">
                    <div class="form-group">
                      <app-input label="Comentario" msgErro="mínimo de 3 e máximo de 1000 letras">
                        <textarea rows="10" class="form-control" id="nome" (keypress)="contarCaracteresComentario()"
                          formControlName="comentario" placeholder="Insira o comentário..." style="font-weight: bold;"></textarea>
                      </app-input>
                      <span>Quantidade de caracteres: {{contadorComentario}} de {{contadorComentarioRestam}}</span>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tab_resumo">
                  <div class="box" style="height: 300px; overflow: auto;">
                    <div class="form-group">
                      <app-input label="Resumo" msgErro="mínimo de 3 e máximo de 1000 letras">
                        <textarea rows="10" class="form-control" id="resumo" (keypress)="contarCaracteresResumo()"
                           formControlName="resumo" placeholder="Insira seu resumo..." style="font-weight: bold;"></textarea>
                      </app-input>
                      <span>Quantidade de caracteres: {{contadorResumo}} de {{contadorResumoRestam}}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">Salvar</button>
            <button type="submit" class="btn btn-link" (click)="voltarParaLista()">Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--<app-form-debug [form]="formulario"></app-form-debug>-->

</section>
